<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recuit.mapper.UserMapper">
    <resultMap id="userModel" type="com.recuit.model.UserModel">
        <result property="id" column="c_id" jdbcType="VARCHAR"/>
        <result property="userName" column="c_username" jdbcType="VARCHAR"/>
        <result property="passWord" column="c_password" jdbcType="VARCHAR"/>
        <result property="email" column="c_email" jdbcType="VARCHAR"/>
        <result property="phoneNum" column="c_phonenum" jdbcType="VARCHAR"/>
        <result property="status" column="c_status" jdbcType="VARCHAR"/>
        <result property="right" column="c_right" jdbcType="VARCHAR"/>
        <result property="userNameCn" column="c_usernamecn" jdbcType="VARCHAR"/>
        <result property="extId" column="c_extid" jdbcType="VARCHAR"/>
        <result property="byxx" column="c_byxx" jdbcType="VARCHAR"/>
        <result property="gzjl" column="c_gzjl" jdbcType="VARCHAR"/>
        <result property="csny" column="c_csny" jdbcType="VARCHAR"/>
        <result property="jldz" column="c_jldz" jdbcType="VARCHAR"/>
        <result property="ypgw" column="c_ypgw" jdbcType="VARCHAR"/>
        <result property="jlmc" column="c_jlmc" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="getUserList" resultMap="userModel" >
        select * from t_users
        <if test="username!=null">
            where c_username like concat('%',#{username},'%')
        </if>
        order by c_id
    </select>

    <select id="getUserById" resultMap="userModel">
        select u.*,ext.c_id c_extid ,ext.c_byxx,ext.c_gzjl,ext.c_csny,ext.c_jldz,ext.c_ypgw,ext.c_jlmc
        from t_users u left join t_user_ext ext on ext.c_user_id=u.c_id where u.c_id = #{id} limit 1
    </select>

    <select id="getUserByUsername" resultMap="userModel">
        select * from t_users where c_username=#{username} limit 1
    </select>

    <insert id="saveUser" parameterType="com.recuit.model.UserModel">
        insert into t_users(c_id,c_username,c_password,c_email,c_phonenum,c_status,c_right)
        values(
            #{user.id},
            #{user.userName},
            #{user.passWord},
            #{user.email},
            #{user.phoneNum},
            #{user.status},
            #{user.right}
        )
    </insert>

    <update id="updateUser" parameterType="com.recuit.model.UserModel">
        update t_users set
        c_username = #{user.userName},
        c_password = #{user.passWord},
        c_email =  #{user.email},
        c_phonenum =  #{user.phoneNum},
        c_usernamecn = #{user.userNameCn},
        c_status = #{user.status},
        c_right = #{user.right}
        where c_id = #{user.id}

    </update>

    <update id="updateExtUser" parameterType="com.recuit.model.UserModel">
        update t_user_ext set
        c_byxx = #{user.byxx},
        c_gzjl = #{user.gzjl},
        c_csny =  #{user.csny},
        c_jldz =  #{user.jldz},
        c_ypgw = #{user.ypgw},
        c_jlmc = #{user.jlmc}
        where c_user_id = #{user.id}
    </update>

    <insert id="insertExtUser" parameterType="com.recuit.model.UserModel">
        INSERT INTO t_user_ext (c_id, c_user_id, c_byxx, c_gzjl, c_csny, c_jldz, c_ypgw,c_jlmc)
        VALUES (#{user.extId}, #{user.id}, #{user.byxx}, #{user.gzjl}, #{user.csny}, #{user.jldz}, #{user.ypgw},#{user.jlmc});
    </insert>

    <select id="getExtUserById" resultMap="userModel">
        select c_id c_extid,c_user_id c_id ,c_byxx,c_gzjl,c_csny,c_jldz,c_ypgw,c_jlmc from t_user_ext where c_user_id=#{id}
    </select>
</mapper>